<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
<h1>This is a basic template and log in form</h1>
<form method="POST" action="{{ url_for('log_reroute.log_user') }}">
    {{ form.csrf_token }}    
    {{ form.uservalue }}
    {{ form.uservalue.label }}
    {{ form.passwordvalue }}
    {{ form.passwordvalue.label }}
    <input type="submit" value="Submit"> </div>
</form>
<p>WTForms should be added to this page!</p>
<div><label>Return</label>
    <button id="return">Return</button> </div>


<script type="text/javascript">

$('#return').click(function(data){
    event.preventDefault();
    window.location = "index";
});     

</script>
</body>
</html>
