<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<meta charset="utf-8" />
<head>
<title>ACP Recorded Times Display</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>SECRET PAGE</h1>
  <p>THIS IS A SECRET PAGE!!!!!!</p>

    <div><label>Return</label>
    <button id="return">Return</button> </div>

<script type="text/javascript">

$('#return').click(function(data){
    event.preventDefault();
    window.location = "index";
});

</script>
</div>
</body> </html>
