<!DOCTYPE html>
<html>
<body>
<h1>This is a basic template and log in form</h1>
<form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}    
    {{ form.uservalue }}
    {{ form.uservalue.label }}
    {{ form.passwordvalue }}
    {{ form.passwordvalue.label }}
</form>
<p>WTForms should be added to this page!</p>


</body>
</html>
